/* TYPE */

/*
@font-face {
    font-family: 'academy_engraved_letplain';
    src: url('../fonts/academy_engraved_let_plain-webfont.eot');
    src: url('../fonts/academy_engraved_let_plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/academy_engraved_let_plain-webfont.woff') format('woff'),
         url('../fonts/academy_engraved_let_plain-webfont.ttf') format('truetype'),
         url('../fonts/academy_engraved_let_plain-webfont.svg#academy_engraved_letplain') format('svg');
    font-weight: normal;
    font-style: normal;

}


@mixin font-academy{
    font-family: 'academy_engraved_letplain', serif;
    font-weight: normal;
}
*/



/* Variables */

$headingLineHeight:1.1em;


p{
    margin-top:0px;
    margin-bottom:28px;
}

h1 {
    font-size: 2em;
    margin: 0 0 0.67em 0;
    line-height: $headingLineHeight;
}

h2 {
    font-size: 1.5em;
    margin: 0 0 0.83em 0;
    line-height: $headingLineHeight;
}

h3 {
    font-size: 1.17em;
    margin: 0 0 1em 0;
    line-height: $headingLineHeight;
}

h4 {
    font-size: 1em;
    margin: 0 0 1.33em 0;
    line-height: $headingLineHeight;
}

h5 {
    font-size: 0.83em;
    margin: 0 0 1.67em 0;
    line-height: $headingLineHeight;
}

h6 {
    font-size: 0.75em;
    margin: 0 0 2.33em 0;
    line-height: $headingLineHeight;
}