@import "normalize.scss";
@import "colors.scss";
@import "typography.scss";

body{
  font-family: helvetica, sans-serif;
  font-size:16px;
}

#container{
  width:960px;
  height:600px;
  margin:auto;
  background-color:#eee;
}

.inner{
  width:800px;
  height:500px;
  padding-top:50px;
}